<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>

<body>
    <%# 로그인 폼, 아직 기능 구현은 안됐음. 자바 스크립트 문법 활용해서 유효성 검사 도입 예정 %>
        <div class="containor">
            <div class="curved-shape"></div>
            <div class="curved-shape2"></div>

            <div class="form-box login">
                <h2 class="animation" style="--D:1; --S:22">로그인</h2>
                <form id="loginForm" action="/login" method="post">

                    <div class="input-box animation" style="--D:2; --S:23">
                        <input type="text" name="_id" required placeholder=" ">
                        <label>아이디</label>
                    </div>
                    <div class="input-box animation" style="--D:3; --S:24">
                        <input type="password" name="_pwd" required placeholder=" ">
                        <label>비밀번호</label>
                    </div>
                    <div class="input-box animation" style="--D:4; --S:25">
                        <button type="submit" class="btn">로그인</button>
                    </div>
                </form>
                <div class="regi-link animation" style="--D:5; --S:26">
                    <p>계정이 없으신가요?</p>
                    <p><a href="#" class="SignUpLink">회원가입</a></p>
                </div>
            </div>

            <div class="info-content login">
                <h2 class="animation" style="--D:1; --S:22">반가워요!</h2>
                <p class="animation" style="--D:2; --S:23">편하게 음악 즐기며 친구들과 나누던 음악 이야기, 계속 이어가봐요.</p>
            </div>

            <div class="form-box Register">
                <h2 class="animation" style="--li:17; --S:1">회원가입</h2>
                <form action="index" method="post">
                    <div class="input-box animation" style="--li:18; --S:2">
                        <input type="text" name="_id" required placeholder=" ">
                        <label>아이디</label>
                    </div>
                    <div class="input-box animation" style="--li:19; --S:3">
                        <input type="email" name="_mail" required placeholder=" ">
                        <label>메일</label>
                    </div>
                    <div class="input-box animation" style="--li:20; --S:3">
                        <input type="password" name="_pwd" required placeholder=" ">
                        <label>비밀번호</label>
                    </div>
                    <div class="input-box animation" style="--li:21; --S:4">
                        <button type="submit" class="btn">회원가입</button>
                    </div>
                </form>
                <div class="regi-link animation" style="--li:22; --S:5">
                    <p>계정이 있으신가요?</p>
                    <p><a href="#" class="SigninLink">로그인</a></p>
                </div>
            </div>

            <div class="info-content Register">
                <h2 class="animation" style="--li:17; --S:1">환영합니다!</h2>
                <p class="animation" style="--li:18; --S:2">온라인 친구들과 음악을 듣고, 서로의 플레이리스트를 나누며 더 넓은 음악 세계를 경험해보세요.
                </p>
            </div>

        </div>
</body>

</html>