/* =============================================
   :root - 전역 변수 선언
   ============================================= */
:root {
    /* Colors */
    --primary-color: #FF0000;
    --background-color: black;
    --text-color: white;
    --text-color-subtle: #64748B;
    --border-color: #555;
    --surface-color-1: #222;
    --surface-color-2: #444;
    --surface-hover-color: #5a6069;
    --gradient-color-1: #25252b;
    --shadow-color: rgba(255, 0, 0, 0.7);
    --overlay-color: rgba(56, 54, 54, 0.3);

    /* Font Sizes */
    --font-size-xl: 32px;
    --font-size-lg: 24px;
    --font-size-md: 20px;
    --font-size-sm: 16px;
    --font-size-xs: 0.8125rem;
    --font-size-xxs: 0.6875rem;

    /* Sizing & Spacing */
    --top-bar-height: 100px;
    --border-radius-round: 999px;
    --border-radius-large: 40px;
    --border-radius-medium: 30px;
    --border-radius-small: 10px;
    --border-radius-xs: 0.5rem;
}

/* =============================================
   Global & Body Styles
   ============================================= */
html {
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
}


.homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 85%;
}

/* =============================================
   Top Bar & Navigation
   ============================================= */

.top-bar {
    width: 100%;
    height: var(--top-bar-height);
    padding: 0 30px;
    display: flex;
    border-bottom: 2px solid var(--primary-color);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background-color);
}

.logo-area {
    font-size: var(--font-size-xl);
}

.logo-area a {
    text-decoration: none;
}

.logo-area a:hover {
    color: #FF0000;
}

.user-area {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-sm);

}

.user-area .profile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    border: 2px solid var(--primary-color);

    font-size: 0.9rem;
    text-decoration: none;
    color: var(--text-color);

    background: transparent;
    white-space: nowrap;
}

.btn.logout-btn {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    box-sizing: border-box;
}


/* =============================================
   Search Area
   ============================================= */


.search-container {
    position: absolute;
    left: 30%;
}

.search-area {
    position: relative;
    overflow: hidden;
}

.search-container .search-area input {
    width: 40rem;
    height: 50px;
    outline: none;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color);
    border-radius: var(--border-radius-medium);
    padding: 0 60px 0 30px;
    background: transparent;
}

.search-container .search-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    z-index: -1;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.search-container .search-area:focus::before {
    transform: scaleX(1);
}

.recent-searches {
    position: absolute;
    top: 55px;
    width: 40rem;
    background: transparent;
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--background-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.search-container.search-active .recent-searches {
    opacity: 1;
    pointer-events: auto;
}

.recent-searches ul {
    list-style: none;
}

.recent-searches ul li {
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding: 0.375rem 0.875rem;
    cursor: pointer;
    font-size: var(--font-size-xs);
}

.recent-searches ul li:hover {
    background-color: var(--surface-hover-color);
}


.search-btn {
    position: absolute;
    top: 31%;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn {
    position: relative;
    background: transparent;
    margin: 0px 10px;
    border-radius: var(--border-radius-large);
    width: 6rem;
    font-size: var(--font-size-sm);
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(var(--gradient-color-1), var(--primary-color), var(--gradient-color-1), var(--primary-color));
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover:before {
    top: 0;
}

@media (max-width:1400px) {
    .homepage {
        width: 95%;
    }

    .top-bar {
        padding: 0 20px;
    }

    .search-container .search-area input,
    .recent-searches {
        width: 25rem;
    }

    .logo-area {
        font-size: var(--font-size-lg);
    }
}

@media (max-width: 1000px) {
    .top-bar {
        flex-wrap: wrap;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .logo-area,
    .user-area {
        width: 30%;
    }

    .user-area {
        text-align: right;
    }

    .logo-area {
        font-size: var(--font-size-md);
    }

    .search-container {
        width: 100%;
        order: 3;
        margin-top: 15px;
    }

    .search-container .search-area input {
        width: 100%;
        margin-right: 10px;
    }

    .recent-searches {
        width: calc(100% - 70px);
    }
}

@media (max-width: 600px) {
    .top-bar {
        flex-wrap: wrap;
        padding: 10px 15px;
        height: auto;
    }

    .logo-area {
        width: 100%;
        text-align: center;
        font-size: var(--font-size-md);
        margin-bottom: 10px;
    }

    .search-container {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-container .search-area input {
        width: 100%;
    }

    .user-area {
        width: 100%;
        text-align: center;
    }

    .user-area button {
        margin-left: 5px;
        margin-right: 5px;
    }

    .recent-searches {
        width: 100%;
    }
}


@media (max-width: 400px) {

    .logo-area,
    .user-area {
        width: 25%;
    }

    .logo-area {
        font-size: var(--font-size-sm);
    }

    .user-area button,
    .user-area i {
        font-size: 14px;
    }

    .search-container {
        width: 100%;
        order: 3;
        margin-top: 10px;
    }

    .search-container .search-area input {
        width: 100%;
        font-size: 14px;
    }

    .recent-searches {
        width: calc(100% - 50px);
    }
}

/* =============================================
            상단 바 프로필 아이콘 스타일
   ============================================= */
.user-area .profile-icon {
    display: block;
    width: 45px;
    /* 아이콘 크기 */
    height: 45px;
    border-radius: 50%;
    /* 완전한 원형 */
    overflow: hidden;
    /* 넘치는 이미지 자르기 */
    border: 2px solid var(--primary-color);
    /* 테두리 */
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.user-area .profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 비율 유지하며 꽉 채우기 */
    display: block;
}

.user-area .profile-icon:hover {
    transform: scale(1.1);
    /* 마우스 올리면 살짝 커짐 */
    box-shadow: 0 0 10px var(--primary-color);
}