<div class="friends-container">
    <div id="friend-requests-area" style="display: none; margin-bottom: 20px;">
        <h3 class="friends-title" style="font-size: 14px; color: #FF0000;">친구 요청</h3>
        <ul class="friends-list" id="request-list-ul">
            </ul>
        <hr style="border: 0; border-top: 1px solid #333; margin: 10px 0;">
    </div>

    <h3 class="friends-title">My Jukes</h3>
    <ul class="friends-list" id="friend-list-ul">
        </ul>
</div>